<div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
            <div class="panel-heading">
                <h3 class="panel-title">Account Disabled</h3>
            </div>
            <div class="panel-body">
             <p>
							You exceeded the maximum number of attempts to enter a valid security code.<br /><br />
							Please contact your system administrator to reset your account and update your password.
						</p>
            </div>
        </div>
    </div>
</div>